* {
  box-sizing: border-box;
}

body {
    background: url('../img/finales/mobile/back_inicio.jpg') center center fixed no-repeat; 
    /* Currently Firefox requires background-size declared separately or the background image will be blank */
    background-size: contain;
    overflow: hidden;
    font-family: 'Montserrat';
    }

    .titulo{
        display: flex;
    }

    .imagenLogo{
        width: 30%;
        flex: 1;
    }
    .divTitulo{
        width: 40%;
        flex: 2;
    }

    .tituloNegritas{
        font-weight: bolder;
        font-size: medium;
        flex: 3;
        text-align: center;
        width: 30%;
    }
    /* 
    .nav{
        display: flex;
        align-content: center;
        align-items: center;
    } */

    .botonRegistro{
        width: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .fechas{
        width: 30%;
        margin: 0;
        position: absolute;
        top: 68%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .footer{
        width: 70%;
        margin: 0;
        position: absolute;
        top: 82.5%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .letreroFinal{
        width: 90%;
        margin: 0;
        position: absolute;
        top: 92%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        font-size: small;
        color: white;
    }

    a{
        color: white;
        text-decoration: none;
    }

@media only screen and (min-width: 431px){

    .titulo{
        display: flex;
        justify-content: center;
    }

    .imagenLogo{
        width: 125px;
        /* border-color: red;
        border-style: solid; */
    }
    .divTitulo{
        width: 114px;
    }

    .tituloNegritas{
        font-weight: bolder;
        font-size: medium;
        text-align: center;
        width: 307px;
        /* border-color: blue;
        border-style: solid; */
    }
    .botonRegistro{
        width: 215px;
    }
    .fechas{
        width: 130px;
    }

    .footer{
        width: 300px;
    }

    .letreroFinal{
        text-align: center;
        width: 385px;
    }
}
@media only screen and (min-width: 768px){
    body {
    background: url('../img/finales/desktop/back_inicio.jpg') center center fixed no-repeat;
    /* Currently Firefox requires background-size declared separately or the background image will be blank */
    background-size: cover;
    }
     .imagenLogo{
        width: 200px;
        /* border-color: red;
        border-style: solid; */
    }
    .tituloNegritas{
        font-size: x-large;
    }

    .botonRegistro{
        top: 40%;
    }
    .fechas{
        top: 60%;
    }
    .footer{
        top: 75%;
    }

    .letreroFinal{
        top: 82%;
        font-size: medium;
    }
}
@media only screen and (min-width: 1300px){

    body {
    background: url('../img/finales/desktop/back_inicio.jpg') center center fixed no-repeat;
    background-size: cover;
    }
    .imagenLogo{
        width: 300px;
        flex: 1;
    }
    .tituloNegritas{
       font-size: xx-large;
    }
    .botonRegistro{
        width: 15%;
    }
    .fechas{
        width: 10%;
    }
    .footer{
        top: 85%;
        width: 40%;
    }
    .letreroFinal{
        top: 95%;
        width: 70%;
    }
}