* {
  box-sizing: border-box;
}

body {
    background: url('../img/semaforo/Inicio/back_inicio.jpg') center center fixed no-repeat; 
    /* Currently Firefox requires background-size declared separately or the background image will be blank */
    background-size: cover;    
    overflow: hidden;
    font-family: 'Montserrat';
    }

    /* .bienveinda{
    } */

    /* .redBorder{
        border-color: red;
        border-style: solid;
    } */

    .titulo{
        display: flex;
    }

    .imagenLogo{
        width: 20%;
        padding-left: 120px;
        flex: 2;
        object-fit: scale-down;
    }   

    .divTitulo{
        width: 0%;
        flex: 1;
    }

    .imagenFechas{
        width: 45%;
        flex: 1;
        object-fit: scale-down;
        padding-right: 25px;
    }
    .divTitulo2{
        width: 10%;
        flex: 1;
    }
    /* 
    .nav{
        display: flex;
        align-content: center;
        align-items: center;
    } */

    .codigoQR{
        width: 45%;
        margin: 0;
        position: absolute;
        top: 63%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    /* .letreroTerrenos{
        width: 65%;
        margin: 0;
        position: absolute;
        top: 70%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } */

    .footer{
        width: 55%;
        margin: 0;
        position: absolute;
        top: 87%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .footer2{
        width: 35%;
        margin: 0;
        position: absolute;
        top: 95%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    
    .footer3{
        width: 40%;
        margin: 0;
        position: absolute;
        top: 97%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    
    .footer4{
        width: 15%;
        margin: 0;
        position: absolute;
        top: 98%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .flex{
        display: flex;
    }

    .ladosQR{
        width: 30%;
    }

    /* .cuadroDatosVisiante{
        background-color: red;
        text-align: center;
        width: 45%;
        height: 33%;
        margin: 0;
        position: absolute;
        top: 63%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    } */

    .resultado{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
    }

    .resultado{
        width: 100%;
        height: 100%;
        position: absolute;
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
    }

    .rojo{
        background-color: red;
    }

    .background{
        width: 100%;
        margin: 0;
        position: absolute;
        top: -20px;
    }

    .pleca{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 0px;
        /* -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
    }

    .plecaLetrero{
        width: 100%;
        margin: 0;
        position: absolute;
        top: -35px;
        object-fit: none;
        /* -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
    }

    .semaforo{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 45%;
        left: 50%;
        object-fit: none;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .datosVisitante{
        width: 100%;
        margin: 0;
        left: 50%;
        position: absolute;
        top: 77%;
        object-fit: none;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .semaforoLogo{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 92%;
        left: 50%;
        object-fit: none;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .plecaLetreroSinAcceso{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 10px;
        object-fit: none;
        /* -ms-transform: translate(-50%, -50%);*/
    }

    .semaforoLogoSinAcceso{
        width: 100%;
        margin: 0;
        position: absolute;
        top: 80%;
        left: 50%;
        object-fit: scale-down;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }