@font-face {
    font-family: "KiaSignatureFixBold";
    src: url('../fonts/TTF/KiaSignatureFixBold.ttf') format('truetype');
}
@font-face {
    font-family: "KiaSignatureFixLight";
    src: url('../fonts/TTF/KiaSignatureFixLight.ttf') format('truetype');
}
@font-face {
    font-family: "KiaSignatureFixRegular";
    src: url('../fonts/TTF/KiaSignatureFixRegular.ttf') format('truetype');
}

body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    .banner{
        width: 100%;
    }

    .imagenPortada{
        width: 100%;
        margin-left: 0px;
        margin-top: 0%;
        
    }

    .logo{
        position: absolute;
        top: 18%;
        left: 10%;
        width: 20%;
    }

.cuerpo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

    .titulo{
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: "KiaSignatureFixBold";
        font-size: medium;
    }

    .titulo2{
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: "KiaSignatureFixBold";
        font-size: xx-large;
    }

    .inputDatos{
        font-family: "KiaSignatureFixLight";
        width: 95%;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: larger;
        border-radius: 5px;
        padding-left: 12px;
    }

    .inputDatosSelect{
        font-family: "KiaSignatureFixLight";
        width: 100%;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: larger;
        border-radius: 5px;
        padding-left: 12px;
        color: gray;
        background-color: white;
        border-color: gray;
    }

    .checkbox{
        text-align: left;
        font-family: "KiaSignatureFixLight";
        width: 100%;
        margin-left: 0%;
        margin-top: 1%;
        margin-bottom: 1%;
        font-size: medium;
        border-radius: 5px;
    }

    .privacidad{
        text-decoration: underline;
        font-weight: 800;
    }

    .boton{
        background-color: black;
        color: white;
        font-family: "KiaSignatureFixBold";
        width: 80%;
        margin-left: 10%;
        font-size: medium;
        margin-top: 1%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
    }

    .checkboxIcon{
        width: 20px;
        height: 20px;
    }

    .mensajeError{
        margin-top: 2%;
        font-family: "KiaSignatureFixBold";
        color: red;
        font-weight: 800;
        font-size: x-large;
    }

    .centrado{
        text-align: center;
        align-items: center;
    }

    .qr{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .nombre{
        color: red;
    }

    .contador{
        color: blue;
    }

    .liga{
        text-decoration: none;
    }

    .imagenLogo{
        width: 25%;
        max-width: 150px;
    }

    .linea{
        color: red;
        width: 80%;
        height: 1vh;
        background-color: red;
    }

@media (min-width: 800px) {
    
    .banner{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .imagenPortada{
        width: 100%;
        margin-top: 0%;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

    }
    
    .cuerpo{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    }
}
