body{
    background-color: white;
    text-align: center;
}

.img{
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
}

.centrado{
    align-items: center;    
}

.fotoInvitado{
    width: 60%;    
}

.qr{
    width: 10%;    
    height: 10%;
    margin-left: 10%;
}

.boton{
    background-color: green;
    color: white;
    width: 40%;
    margin-left: 30%;
    height: 35px;
    font-size: x-large;
    border-radius: 10px;
    margin-top: 10px;
}